minimum_pre_commit_version: "3.5.0"
default_install_hook_types:
  - pre-commit
  - pre-push
repos:
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v17.0.6
    hooks:
      - id: clang-format
        files: ^(Inc/|Src/|Tests/|tools/).*
        types_or:
          - c
          - c++
        exclude: ^STM32CubeH7/.*
