minimum_pre_commit_version: "3.5.0"
default_install_hook_types:
  - pre-commit
  - pre-push
repos:
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        entry: clang-format -i
        language: system
        types_or:
          - c
          - c++
        files: ^(Inc/|Src/|Tests/|tools/).*
        exclude: ^STM32CubeH7/.*
