name: Compile Checks

on:
  workflow_dispatch:
  pull_request:
    paths:
      - '**.cpp'
      - '**.hpp'
      - '**.c'
      - '**.h'
      - '**.py'
      - 'CMakeLists.txt'
    branches:
      - development

  workflow_run:
    workflows: [ "Build Toolchain Image" ]
    types:
      - completed

jobs:
  compile-checks:
    name: Check project compiles
    strategy:
      matrix:
        preset:
          - nucleo-debug
          - nucleo-release
          - nucleo-relwithdebinfo
          - nucleo-debug-eth
          - nucleo-release-eth
          - nucleo-relwithdebinfo-eth
          - board-debug
          - board-release
          - board-relwithdebinfo
          - board-debug-eth-ksz8041
          - board-debug-eth-lan8742
          - board-release-eth-ksz8041
          - board-release-eth-lan8742
          - board-relwithdebinfo-eth-ksz8041
          - board-relwithdebinfo-eth-lan8742
          # - simulator
      fail-fast: false
    uses: ./.github/workflows/build.yml
    with:
      preset: ${{ matrix.preset }}
