name: Run tests

on:
  workflow_dispatch:
  pull_request:
    branches: [ development ]

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install build dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y cmake ninja-build build-essential

      - name: Configure (CMake)
        run: |
          cmake --preset simulator

      - name: Build
        run: |
          cmake --build --preset simulator

      - name: Run tests (ctest)
        working-directory: out/build/simulator
        run: |
          ctest --output-on-failure
